<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>iCafeCloud Client</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="js/toastr/toastr.css">
	<link rel="stylesheet" type="text/css" href="js/sweetalert/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="js/contextmenu/jquery.contextMenu.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/dark.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
</head>
<body ondragstart="return false" onselectstart = "return false" class="bs-c br-n ba-f text-gray" :style="vueGlobal.bodyStyle" @vue:mounted="mounted()" v-cloak>

	<div id="page_lock" class="formDiv" style="z-index: 999; display: none;">
		<section class="h-100 d-flex align-items-center justify-content-center">
			<div class="text-center col-3 unlock-form-div">
				<form method="post" id="unlockForm" role="form" class="text-center form-horizontal" onsubmit="return delay_execute(unlock_form_submit);">
					<h2 class="lang text-center mb-5">Unlock</h2>

					<div class="form-group row client-form-row" >
						<input type="password" class="lang form-control bg-transparent" name="password" placeholder="Password">
					</div>

					<div class="btn-group text-center">
						<button type="submit" class="lang btn btn-lg btn-unlock py-0 client-btn-success" data-placement="bottom" data-toggle="tooltip" title="Unlock"><i class="fal fa-unlock fa-2x text-white"></i></button>
					</div>
				</form>
			</div>
		</section>
	</div>

	<div id="page_login" class="d-none">
		<div class="feedback-icon">
			<a href="javascript:void(0)" class="power-button pt-3 lang" data-toggle="tooltip" title="Restart button" onclick="javascript:CallFunction('SHUTDOWN REBOOT');">
				<i class="fal fa-power-off fa-2x text-white"></i> 
			</a>
		</div>
		<span id="version_date" class=" align-moddle ml-2 text-white"></span>
		<!-- st:login div -->
		<div class="pc_name normal-only"></div>
		<div class="loginDiv h-100 formDiv">
			<section class=" h-100 d-flex align-items-center justify-content-center">
				<div class="text-center col-4 login-form-div" id="login-form-container" >
					<form method="post" id="loginForm" role="form" class="form-horizontal" onsubmit="return delay_execute(login_form_submit);">

						<div class="form-group row client-form-row d-flex justify-content-center" >
							<div class="col-auto">
								<input type="text" id="username" name="username" class="form-control lang bg-transparent" placeholder="Username">
							</div>
						</div>

						<div class="form-group row client-form-row d-flex justify-content-center" >
							<div class="col-auto">
								<input type="password" id="password" name="password" class="form-control lang bg-transparent" placeholder="Password">
							</div>
						</div>

						<div class="btn-group text-center d-flex justify-content-center">
							<button type="submit" class="btn btn-lg mx-3 memberlogin lang py-0 client-btn-success " data-placement="bottom" data-toggle="tooltip" title="Login"  ><i class="fal fa-check fa-2x text-white" ></i></button>
							<button type="button" v-if="theSettings.register_member_at_client == 1 || theSettings.enable_icafesports == 1" class="btn btn-lg mx-3 lang py-0 btn-info" id="register-button" onclick="javascript:$('.myModalRegisterMember').modal('show')" data-placement="bottom" data-toggle="tooltip" title="Register"><i class="fal fa-plus fa-2x text-white" ></i></button>
							<button type="button" class="btn btn-lg mx-3 home-only lang py-0 client-btn-close" id="close-button" onclick="javascript:close_click()" data-placement="bottom" data-toggle="tooltip" title="Close"><i class="fal fa-times fa-2x text-white" ></i></button>
							<a class="lang mr-1" href="javascript:theShop.show_topup()" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Topup" v-if="theSettings.allow_topup_at_client == 1">
								<i class="fal fa-gas-pump fa-2x menu-icon text-success"></i>
							</a>
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- dd:login div -->

		<!-- st:admin exit div -->
		<div class="adminexitDiv h-100 formDiv" style="display: none;">
			<section class="h-100 d-flex align-items-center justify-content-center">
				<div class="col-4 admin-exit-form-div" >
					<form method="post" id="adminexitForm" role="form" class="form-horizontal text-center" onsubmit="return delay_execute(admin_exit_form_submit);">
						<div class="form-group row client-form-row">
							<input type="password" class="lang form-control bg-transparent" name="password" placeholder="Admin password" value="">
						</div>

						<div class="d-flex justify-content-center">
							<button type="submit" class="lang btn btn-lg mr-3 py-0 client-btn-success" data-placement="bottom" data-toggle="tooltip" title="Quit"><i class="fal fa-check fa-2x text-white" aria-hidden="true"></i></button>
							<button type="button" onclick="javascript:show_login_page('login')" class="lang btn btn-lg py-0 client-btn-close" data-placement="bottom" data-toggle="tooltip" title="Cancel"><i class="fal fa-xmark fa-2x text-white"></i></i></button>
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- ed:admin exit div -->

		<!-- st:register div -->
		<div class="registerDiv h-100 formDiv" style="display: none;">
			<section class="h-100 d-flex align-items-center justify-content-center">
				<div class="text-center col-3 register-form-div" >
					<form method="post" id="registerForm" role="form" class="form-horizontal text-center" onsubmit="return delay_execute(member_register_form_submit);">
						<h2 class="lang text-center mb-3">Register member</h2>

						<div class="form-group row client-form-row" >
							<input type="text" class="lang form-control bg-transparent" name="username" placeholder="Username" value="">
						</div>

						<div class="form-group row client-form-row" >
							<input type="password" class="lang form-control bg-transparent" name="password" placeholder="Password" value="">
						</div>

						<div class="form-group row client-form-row" >
							<input type="password" class="lang form-control bg-transparent" name="confirm_password" placeholder="Confirm password" value="">
						</div>

						<div class="btn-group">
							<button type="submit" class="lang btn btn-lg mr-3  py-0 client-btn-success" data-placement="bottom" data-toggle="tooltip" title="Register"><i class="fal fa-check fa-2x text-white"></i></button>
							<button type="button" onclick="javascript:show_login_page('login')" class="lang btn btn-lg py-0 client-btn-close" data-placement="bottom" data-toggle="tooltip" title="Cancel"><i class="fal fa-xmark fa-2x text-white"></i></button>					
						</div>

					</form>
				</div>
			</section>
		</div>
		<!-- ed:register div -->

		<!-- st:home-version-enter-cafe-id div -->
		<div class="homecafeidDiv h-100" style="display: none;">
			<section class="h-100 d-flex align-items-center justify-content-center">
				<div class="text-center col-3 home-cafeid-form-div" >
					<form method="post" id="homecafeidForm" role="form" class="form-horizontal text-center" onsubmit="return delay_execute(homecafeid_form_submit);">
						<div class="form-group row client-form-row">
							<input type="number" class="lang form-control bg-transparent" name="icafe_id" placeholder="Cafe ID" value="">
						</div>

						<div class="btn-group text-center">
							<button type="submit" class="lang btn btn-lg mr-3 py-0 client-btn-success" data-placement="bottom" data-toggle="tooltip" title="Continue"><i class="fal fa-check fa-2x text-white"></i></button>
							<button type="button" onclick="javascript:close_click()" class="lang btn btn-lg py-0 client-btn-close" data-placement="bottom" data-toggle="tooltip" title="Close"><i class="fal fa-xmark fa-2x text-white"></i></i></button>
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- ed:home-version-enter-cafe-id div -->
	</div>
	<div id="matrix-animation" class="d-none w-100 h-100 container p-0 m-0"><canvas style="z-index:-1; overflow: hidden" class="w-100 h-100"></canvas></div>
	<div id="page_games" class="dojo-background d-flex flex-column">
		<!-- st:header -->

		<section style="display: flex;">
			<div class="top-nav-box-left" style="display: flex;">
				<img id="cafe_info_cafe_logo" class="logo" src="posters/cafe_info_cafe_logo.png" onerror="this.src='images/logo-home.png';">

				<div class="active-button text-white" >
					<a class="lang mr-4"  href="javascript:theHome.show()" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fal fa-home fa-2x menu-icon" :class="[vueGlobal.pageType == 'Home' ? 'header-menu-active' : '' ]" ><label class="text-center dojo-caption-icons">Главная</label></i>
					</a>
					<a class="lang mr-4" href="javascript:theGameList.show()" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fal fa-gamepad-modern fa-2x menu-icon" :class="[vueGlobal.pageType == 'Games' ? 'header-menu-active' : '' ]"><label class="text-center dojo-caption-icons">Приложения</label></i>
					</a>
					<a class="lang mr-4" href="javascript:theShop.show()" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fal fa-shopping-cart fa-2x menu-icon" :class="[vueGlobal.pageType == 'Shop' ? 'header-menu-active' : '' ]" ><label class="text-center dojo-caption-icons">Магазин</label></i>
					</a>
					<a class="lang mr-4" href="javascript:theEvents.show()" data-toggle="tooltip" data-placement="bottom" title="Events" v-if="theSettings.license_start_game_tracker ?? 0">
						<i class="text-center fal fa-gift fa-2x menu-icon" :class="[vueGlobal.pageType == 'Event' || vueGlobal.pageType == 'EventDetail' ? 'header-menu-active' : '' ]"></i>
					</a>
					<a class="lang" href="javascript:theRank.show()" data-toggle="tooltip" data-placement="bottom" title="Rank" v-if="theSettings.license_start_game_tracker ?? 0">
						<i class="fal fa-trophy fa-2x menu-icon" :class="[vueGlobal.pageType == 'Rank' ? 'header-menu-active' : '' ]"></i>
					</a>
				</div>

				<div class="social-links text-white">
					<a class="lang mr-2" href="javascript:open_url('https://discord.com/')" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fa-brands fa-discord fa-2x menu-icon"><label class="text-center dojo-caption-icons">Discord</label></i>
					</a>
					<a class="lang mr-2" href="javascript:open_url('https://web.telegram.org/')" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fa-brands fa-telegram fa-2x menu-icon"><label class="text-center dojo-caption-icons">Telegram</label></i>
					</a>
					<a class="lang mr-2" href="javascript:open_url('https://vk.com/')" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fa-brands fa-vk fa-2x menu-icon"><label class="text-center dojo-caption-icons">VK</label></i>
					</a>
					<a class="lang mr-2" href="javascript:open_url('https://dojo.wtf/')" data-toggle="tooltip" data-placement="bottom">
						<i class="text-center fa-brands fa-internet-explorer fa-2x menu-icon" ><label class="text-center dojo-caption-icons">Сайт</label></i>
					</a>
				</div>

			</div>
			<div class="top-nav-box-right">

			</div>
		</section>
		<!-- ed:header -->
		<!-- st:main area -->
		<section style="display: flex; height: 100%; width: 100%;" id="games">
			<div class="home-container mb-4 mt-3 flex-column h-50 flex-grow-1 col-9" :class="[vueGlobal.pageType != 'Home' ? 'd-none' : 'd-flex' ]">
				<div class="d-flex flex-row home-up-column h-50 mb-3 flex-shrink-1">
					<div class="bd-highlight position-relative rounded home-top5-games col-12 flex-shrink-1 dojo-block dojo-radius p-3 d-flex flex-column mr-2">
						<div class="text-center font-size-5 text-white" >Приложения</div>
						<hr class="mt-0 mb-3 mb-3 bg-white w-50 text-white">
						<div class="h-100">
							<div class="d-flex align-items-center justify-content-around h-100">
								<div class="game-image dojo-overlay-before" v-for="(game, index) in vueGames.topFiveItems" :key="game.pkg_id">
									<img class="rounded" :src="'posters/' + game.pkg_id + '.jpg'" onerror="this.src='images/default-poster.png';" >
									<div class="overlay dojo-overlay-after">
										<div class="btn-group d-flex justify-content-center align-items-center h-75 w-100">
											<button v-if="vueGames.type != 'license'" class="dojo-btn btn lang" @click="theGameList.play_game(game.pkg_id, thePCStatus.status_pc_token, 0, '')" data-toggle="tooltip" data-placement="bottom" title="Play">
												<i class="fal fa-play fa-2x"></i>
											</button>
											<button v-if="(game.pkg_game_type >= 1 && game.pkg_has_license > 0)" class="dojo-btn btn ml-2 lang" @click="theGameList.request_game_licenses(game.pkg_id, 'btn-home-play-with-license-' + game.pkg_id)" data-toggle="tooltip" data-placement="bottom" :id="'btn-home-play-with-license-' + game.pkg_id" title="Free to play">
												<i class="fal fa-key fa-2x"></i>
											</button>
										</div>
										<label class="text-center dojo-caption-game">{{game.pkg_name}}</label>
									</div>
								</div>
							</div>
						</div>
						<div class="btn-group d-flex justify-content-center align-items-center">
							<a class="btn lang dojo-more lang" href="javascript:theGameList.show()" data-toggle="tooltip" data-placement="bottom">
								<i class="fal fa-arrow-right fa-2x"></i>
							</a>
						</div>
					</div>


				</div>

				<div class="d-flex flex-row home-down-column h-50 border-1 mt-3">
					<div class="d-flex flex-row col-12 mr-2 px-0 flex-shrink-1">
						<div  class="bd-highlight rounded text-white home-news col-12 py-4 flex-shrink-1 dojo-block dojo-radius">

						</div>

					</div>
				</div>
			</div>

			<div class="games-container mb-2 h-50 flex-grow-1 flex-column col-9" :class="[vueGlobal.pageType != 'Games' ? 'd-none' : 'd-flex' ]">
				<div class="d-flex d-inline-flex justify-content-center rounded align-items-center pl-4 pr-4 font-size-4">	
					<div v-for="item in vueClasses.items">
						<span v-else class="mr-4 pt-1 pb-1 c-pointer" @click="theGameList.load_games_by_class('class', item.class_name, '')" data-toggle="tooltip" data-placement="bottom">
							<i class="fal fa-2x pt-1 pb-1" :class="[vueGames.active_class == item.class_name ? 'text-dojo' : 'text-white', item.icon]" style="text-align: center;"><label class="text-center dojo-caption-icons">{{translate_string(item.class_name)}}</label></i>
						</span>
					</div>
					<div class="col-3">
						<form class="input-group border-0 bg-transparent" onsubmit="return false;">
							<span class="position-absolute" style="line-height: 40px; padding: 0 8px;"><i class="fal fa-search"></i></span>
							<input class="dojo-search-form form-control lang " type="text" placeholder="Поиск" style="padding-left:30px; height: 40px;" id="search-bar">
						</form>
					</div>
				</div>
				<hr class="mt-1 mb-1 bg-white w-50">
				<div class="h-100 container">
					<div class="d-flex col-12 px-0 justify-content-center m-0 flex-wrap align-content-start">
						<div class="game-item m-4" v-for="game in vueGames.items" :key="game.pkg_id">
							<div class="game-image dojo-overlay-before w-100">
								<img  :src="'posters/' + game.pkg_id + '.jpg'" onerror="this.src='images/default-poster.png';">
								<div class="overlay dojo-overlay-after" style="background:rgba(17, 17, 17, 0.75); ">
									<div class="btn-group d-flex justify-content-center align-items-center w-100 h-75">
										<button v-if="vueGames.type != 'license'" class="dojo-btn btn lang" @click="theGameList.play_game(game.pkg_id, thePCStatus.status_pc_token, 0, '')" data-toggle="tooltip" data-placement="bottom" title="Play">
											<i class="fal fa-play fa-2x"></i>
										</button>
										<button v-if="(game.pkg_game_type >= 1 && game.pkg_has_license > 0)" class="dojo-btn btn ml-2 lang" @click="theGameList.request_game_licenses(game.pkg_id, 'btn-play-with-license-' + game.pkg_id)" data-toggle="tooltip" data-placement="bottom" :id="'btn-play-with-license-' + game.pkg_id" title="Free to play">
											<i class="fal fa-key fa-2x"></i>
										</button>
									</div>
									<label class="text-center dojo-caption-game">{{game.pkg_name}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="shop-container mb-2 flex-column h-50 flex-grow-1  col-9" :class="[vueGlobal.pageType != 'Shop' ? 'd-none' : 'd-flex' ]">
				<!-- st:shop area -->
				<div class="d-flex d-inline-flex w-100 rounded justify-content-center align-items-center pl-4 pr-4 font-size-4">

					<span class="mr-4 dropdown c-pointer" >
						<i class="fal fa-fw fa-bars fa-2x pt-1 pb-1 dropdown" :class="[[-1,-2].includes(vueProductGroupList.current_group_id) ? 'text-white' : 'text-dojo' ]" data-toggle="dropdown"></i>
						<div v-if="vueProductGroupList.dropdownProductGroupList"  class="dropdown-menu text-truncate" style="left: -1rem; max-width: 12rem;">
							<a v-for="item in vueProductGroupList.dropdownProductGroupList" class="lang dropdown-item text-truncate" :class="[vueProductGroupList.current_group_id == item.product_group_id ? 'dropdown-item-active' : '']" href="javascript:;" @click="theShop.change_group(item.product_group_id)">{{ item.product_group_name }}</a>
						</div>
					</span>
					<span v-for="item in vueProductGroupList.items" :key="item.product_group_id" :data-group="item.product_group_id" class="mr-4 nav-item" @click="theShop.change_group(item.product_group_id)" data-toggle="tooltip" data-placement="bottom" :title="item.product_group_name" >
						<span v-if="item.product_group_id === -1" class="icon c-pointer" ><i class="fal fa-fw fa-clock fa-2x pt-1 pb-1" :class="[vueProductGroupList.current_group_id == -1 ? 'text-dojo' : 'text-white']"><label class="text-center dojo-caption-icons">{{ item.product_group_name }}</label></i></span>
						<span v-else-if="item.product_group_id === -2" class="icon c-pointer" ><i class="fal fa-fw fa-gift fa-2x pt-1 pb-1"  :class="[vueProductGroupList.current_group_id === -2 ? 'text-dojo' : 'text-white']"><label class="text-center dojo-caption-icons">{{ item.product_group_name }}</label></i></span>
					</span>
					<div class="col-3">
						<form class="input-group border-0 bg-transparent" onsubmit="return false;">
							<span class="position-absolute" style="line-height: 40px; padding: 0 8px;"><i class="fal fa-search"></i></span>
							<input class="form-control lang" type="text" placeholder="Поиск" style="padding-left:30px; height: 40px;" id="search-product">
						</form>
					</div>
				</div>
				<hr class="mt-1 mb-1 bg-white w-50">
				<div class="d-flex h-50 flex-grow-1">
					<div class="align-top h-100 mr-5 col-9 px-0 d-flex flex-column flex-shrink-1 container">
						<!-- st:shop images -->
						<div class="d-flex text-left w-100 h-100 flex-wrap p-1 flex-shrink-1 justify-content-center align-content-start" id="product-list">

							<div class="p-4" v-for="item in vueProducts.items" :key="item.product_id">
								<div class="shop-image dojo-overlay-before">
									<img :src="item.image" :alt="item.product_name">
									<div class="overlay" style="background:rgba(17, 17, 17, 0.75);">
										<div class="text-white btn-group d-flex w-100 h-100 p-3 text-center flex-column justify-content-around align-content-around">
											<label class="font-size-4">{{item.product_name}}</label>
											<label class="font-weight-bold" v-if="vueProductGroupList.current_group_id == -2">{{item.product_coin_price}} {{translate_string('coin')}}</label>
											<label class="font-weight-bold" v-else>{{theSettings.currency ?? '$'}} {{toFixed2(item.product_price)}}</label>
											<button v-if="vueProductGroupList.current_group_id == -2" class="btn btn-lg lang" @click="theShop.gift_cart_change_qty(item.product_id, 1)">
												<i class="fal fa-cart-plus fa-2x"></i>
											</button>
											<button v-else class="btn py-0 mx-2" @click="theShop.cart_change_qty(item.product_id, 1)">
												<i class="fal fa-cart-plus fa-2x"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ed:shop images -->
					</div>

					<div class="container d-inline-block align-top h-100 col-3 px-0 mt-4">
						<!-- st:shop cart -->
						<div class="w-100 dojo-block dojo-radius" id="shop_cart">
							<div class="bd-highlight w-100 p-3">
								<div class="mb-3 w-100 d-flex justify-content-center text-center">
									<label class="text-light lang font-size-5">New Order</label>
								</div>
								<form id="cart_form" onsubmit="return delay_execute(theShop.cart_done);">
									<table id="cart" class="table cart mb-0 w-100" style="table-layout: fixed;">
										<tbody>
											<tr v-for="item in vueOrderItems.items" :key="item.product_id" :data-productid="item.product_id">
												<td class="feedback-icon col-2">
													<a @click="theShop.cart_change_qty(item.product_id, -999999)" class="lang c-pointer" data-toggle="tooltip" data-placement="bottom" title="Delete">
														<i class="fal fa-trash-can fa-2x text-white"></i>
													</a>
												</td>
												<td class="text-left col-5">
													<label class="text-white">{{item.product_name}}</label>
													<label>{{theSettings.currency ?? '$'}} {{toFixed2(item.product_price)}}</label>
												</td>
												<td class="col-2">
													<input type="number" class="px-0 form-control text-center new-order-item-qty bg-transparent" @input="theShop.update_item_qty" :data-productid="item.product_id" min="1" :value="item.order_item_qty">
												</td>
												<td class="text-right col-3">
													<label>{{theSettings.currency ?? '$'}} {{toFixed2(item.order_cost)}}</label>
												</td>
											</tr>
											<tr v-if="vueOrderItems.items.length <= 0">
												<td colspan="4"></td>
											</tr>
											<tr v-if="vueOrderItems.items.length <= 1">
												<td colspan="4"></td>
											</tr>
											<tr v-if="vueOrderItems.items.length <= 2">
												<td colspan="4"></td>
											</tr>
										</tbody>
										<tfoot class="text-white">
											<tr>
												<td class="text-left" colspan="3"><label>{{translate_string("Sub-total:")}}</label></td>
												<td class="text-right"><label>{{toFixed2(vueOrderItems.total_cost)}}</label></td>
											</tr>
											<tr v-if="vueOrderItems.total_discount > 0">
												<td class="text-left" colspan="3"><label>{{translate_string("Discount")}}:</label></td>
												<td class="text-right"><label>{{toFixed2(vueOrderItems.total_discount)}}</label></td>
											</tr>
											<tr v-if="vueOrderItems.total_tax > 0">
												<td class="text-left" colspan="3"><label>{{translate_string("Tax:")}}</label></td>
												<td class="text-right"><label>{{toFixed2(vueOrderItems.total_tax)}}</label></td>
											</tr>
											<tr>
												<td class="text-left" colspan="3"><label>{{translate_string("Total amount:")}}</label></td>
												<td class="text-right"><label>{{toFixed2(vueOrderItems.total_amount)}}</label></td>
											</tr>
										</tfoot>
									</table>
									<div id="payment-table" class="row cart mb-5">
										<div class="col-12 d-flex justify-content-center">
											<div v-if="(typeof(theSettings.payment_method_balance) == 'undefined' || theSettings.payment_method_balance == 1) && theShop.enable_balance" class="custom-control custom-radio mr-0">
												<input type="radio" id="payment_method_balance" name="payment_method" :value="PAY_METHOD_BALANCE" v-model="vueOrderItems.payment_method" @change="theShop.cart_refresh()" class="custom-control-input">
												<label v-if="vueOrderItems.member_group_id == MEMBER_GROUP_POSTPAID" class="custom-control-label lang" for="payment_method_balance" data-toggle="tooltip" data-placement="bottom" title="Pay later"><i class="fal fa-clock fa-3x"></i></label>
												<label v-else class="custom-control-label lang" for="payment_method_balance" data-toggle="tooltip" data-placement="bottom" title="Balance"><i class="fal fa-wallet fa-3x"></i></label>
											</div>
										</div>
									</div>


									<div class="btn-group mb-5 w-100">
										<button type="button" class="btn btn-lg f-left lang w-25 px-0 text-center py-0 client-btn-close" data-placement="bottom" data-toggle="tooltip" title="Clear" id="new-order-clear" :disabled="vueOrderItems.items.length == 0" onclick="javascript:theShop.cart_clear()"><i class="fal fa-trash fa-2x text-white"></i></button>
										<button type="submit" class="btn btn-lg f-right lang w-75 px-9 text-center ml-1 client-btn-success" data-placement="bottom" data-toggle="tooltip" title="Done" id="new-order-done" :disabled="vueOrderItems.items.length == 0"><i class="fal fa-check fa-2x text-white"></i></button>		
									</div>
								</form>
							</div>
						</div>
						<!-- ed:shop cart -->

						<!-- st:shop cart gifts -->
						<div class="w-100" style="display:none;" id="shop_cart_gift">
							<div class="bd-highlight mb-5 w-100 p-3 mt-8 border-block">
								<div class="mb-3 w-100 d-flex align-items-end">
									<label class="text-light lang font-size-5 col-6">New Order</label><label class="col-6 text-right" id="cart_date_gift"></label>
								</div>
								<form class="input-group border-0 bg-transparent text-right" onsubmit="return delay_execute(theShop.gift_cart_done);">
									<table id="gift_cart" class="table cart" style="table-layout: fixed;">
										<tbody>
											<tr v-for="item in vueGiftOrders.items" :key="item.product_id" :data-productid="item.product_id" style="min-height:75px; height:75px;">
												<td class="col-2">
													<a @click="theShop.gift_cart_change_qty(item.product_id, -999999)" class="lang c-pointer" data-toggle="tooltip" data-placement="bottom" title="Delete">
														<i class="fal fa-trash-can fa-2x text-white"></i>
													</a>
												</td>
												<td class="text-left col-4">
													<label class="text-white">{{item.product_name}}</label>
													<label>{{item.product_coin_price}} {{translate_string("coin")}}</label>
												</td>
												<td class="col-2">
													<input type="number" class="px-0 form-control text-center new-order-item-gift-qty bg-transparent" @input="theShop.update_gift_item_qty" :data-productid="item.product_id" min="1" :value="item.order_item_qty">
												</td>
												<td class="text-right col-4">
													<label>{{toFixed2(item.order_cost)}} {{translate_string("coin")}}</label>
												</td>
											</tr>
											<tr v-if="vueGiftOrders.items.length <= 0">
												<td colspan="4"></td>
											</tr>
											<tr v-if="vueGiftOrders.items.length <= 1">
												<td colspan="4"></td>
											</tr>
											<tr v-if="vueGiftOrders.items.length <= 2">
												<td colspan="4"></td>
											</tr>
										</tbody>
										<tfoot class="text-white">
											<tr>
												<td class="text-left" colspan="3"><label>{{translate_string("Total coins:")}}</label></td>
												<td class="text-right"><label>{{toFixed2(vueGiftOrders.total_amount)}}</label></td>
											</tr>
										</tfoot>
									</table>
									<div class="btn-group mb-5 w-100">
										<button type="button" class="btn btn-lg f-left lang client-btn-close" id="new-order-clear-gift" style="width:25%; padding-left:0px; padding-right:0px; text-align:center;" :disabled="vueGiftOrders.items.length == 0" onclick="javascript:theShop.gift_cart_clear()" data-placement="bottom" data-toggle="tooltip" title="Clear"><i class="fal fa-trash fa-2x text-white"></i></button>
										<button type="submit" class="btn btn-lg f-right lang client-btn-success" id="new-order-pay-coin" style="width:72%; padding-left:0px; padding-right:0px; text-align:center; margin-left:5px;" :disabled="vueGiftOrders.items.length == 0" data-placement="bottom" data-toggle="tooltip" title="Pay by coins"><i class="fal fa-check fa-2x text-white"></i></button>		
									</div>
								</form>
							</div>
						</div>
						<!-- ed:shop cart gifts -->
					</div>

				</div>
				<!-- ed:shop area -->
			</div>

			<div class="profile">
				<div>
					<div>
						<div style="display: flex;">
							<label class="text-truncate font-size-8 name text-uppercase font-size-5 text-white" style="margin-left: 25px; margin-top: 10px; margin-bottom: 10px;" id="member_info_name">vladuska</label><!-- {{memberInfo.member_info_name}}-->
							<button type="button" class="btn btn-light" style="margin-left: 40px; right: 0; height: 35px; margin-top: 18px;">Регистрация</button>
						</div>
						<hr class="mt-0 mb-3 mb-3 bg-white w-100 text-white">
						<div class="row text-white">
							<div class=" col-md-12 p-2 normal-only text-center">
								<div class="row justify-content-around">
									<div class="member_balance_realtime normal-only font-size-4 pt-2 align-items-center flex-column">
										<i class="fal fa-wallet " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Баланс"></i>
										<label class="value mw-100">
											Баланс
										</label>
										<label class="value mw-100">
											{{memberInfo.member_balance_realtime}}
										</label>
									</div>
									<div class="member_balance_bonus_realtime normal-only font-size-4 pt-2 align-items-center flex-column">
										<i class="fal fa-fw fa-award fa-fw mr-1 lang" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Бонус"></i>
										<label class="value mw-100">
											Бонусы
										</label>
										<label class="value mw-100">
											{{memberInfo.member_balance_bonus_realtime}}
										</label>
									</div>
									<div class="member_coin_balance normal-only font-size-4 pt-2 align-items-center flex-column">
										<i class="fal fa-gamepad fa-fw mr-1 lang" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Монеты"></i>
										<label class="value mw-100">
											Поинты
										</label>
										<label class="value mw-100">
											{{memberInfo.member_coin_balance}}
										</label>
									</div>
								</div>
								<div class="justify-content-center mt-3" :id="'available-' + vueAvailableOffers.items[0].id">
									<label class="value mw-100" style="margin-top: 25px;">
										<span class="remaining font-size-5">Осталось времени: 02:34:56</span>
										<!-- <i class="fal fa-solid fa-clock-rotate-left fa-fw mr-1 lang" data-toggle="tooltip" data-placement="bottom"></i> -->
									</label>
								</div>
							</div>
						</div>
						<br/>
						<hr class="mt-0 mb-3 mb-3 bg-white w-100 text-white">
						<div>
							<div class="align-top h-100 mr-5 col-9 px-0 d-flex flex-column flex-shrink-1 container">
								<!-- st:shop images -->
								<div class="d-flex text-left w-100 h-100 flex-wrap p-1 flex-shrink-1 justify-content-center align-content-start" id="product-list">
		
									<div class="p-4" v-for="item in vueProducts.items.slice(0,4)" :key="item.product_id">
										<div class="shop-image dojo-overlay-before">
											<img :src="item.image" :alt="item.product_name">
											<div class="overlay" style="background:rgba(17, 17, 17, 0.75);">
												<div class="text-white btn-group d-flex w-100 h-100 p-3 text-center flex-column justify-content-around align-content-around">
													<label class="font-size-4">{{item.product_name}}</label>
													<label class="font-weight-bold" v-if="vueProductGroupList.current_group_id == -2">{{item.product_coin_price}} {{translate_string('coin')}}</label>
													<label class="font-weight-bold" v-else>{{theSettings.currency ?? '$'}} {{toFixed2(item.product_price)}}</label>
													<button v-if="vueProductGroupList.current_group_id == -2" class="btn btn-lg lang" @click="theShop.gift_cart_change_qty(item.product_id, 1)">
														<i class="fal fa-cart-plus fa-2x"></i>
													</button>
													<button v-else class="btn py-0 mx-2" @click="theShop.cart_change_qty(item.product_id, 1)">
														<i class="fal fa-cart-plus fa-2x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- ed:shop images -->
							</div>
						</div>
						<div class="btn-group d-flex justify-content-center align-items-center mt-3">
							<a class="btn lang dojo-profile-button lang" href="javascript:theShop.show()" data-toggle="tooltip" data-placement="bottom">
								ПЕРЕЙТИ В МАГАЗИН
							</a>
						</div>
						<!--v-if-->
					</div>

				</div>
			</div>
		</section>
		<div class="events-container mb-5 h-50 flex-grow-1 flex-column" :class="[vueGlobal.pageType != 'Event' ? 'd-none' : 'd-flex' ]">
			<div class="cover"></div>
			<div class="h-100 w-100 p-4 d-flex flex-column container flex-shrink-1">
				<h2 v-if="vueEventsMy.events.length > 0" class="text-white name pb-4 font-size-5 font-weight-bold lang" id="my-events-title">My events</h2>
				<div class="d-flex flex-wrap events" id="my-events">
					<div v-for="event in vueEventsMy.events" :key="event.event_id" :class="'col-4 mb-5 event event-' + event.event_game_code + ' event-' + event.event_status" :data-id="event.event_id">
						<div class="d-flex m-2 p-4 h-100 border-block">
							<div class="icon col-4"></div>
							<div class="info col-8 d-flex flex-column">
								<label class="name  text-truncate">{{event.event_name}}</label>
								<label>
									<i class="fal fa-fw mr-1 fa-gamepad-modern" data-toggle="tooltip" data-placement="bottom" title="Games"></i> {{event.game_name}}
									{{ event.event_game_mode.length > 0 ? '/ ' + event.event_game_mode : ''}}
								</label>

								<label>
									<i class="fal fa-fw mr-1 fa-clock" data-toggle="tooltip" data-placement="bottom" title="Event time"></i> {{moment(event.event_start_time_local).format('MM/DD HH:mm')}} - {{moment(event.event_end_time_local).format('MM/DD HH:mm')}}
								</label>

								<label >
									<i class="fal fa-fw mr-1 fa-circle-info" data-toggle="tooltip" data-placement="bottom" title="Score count way"></i>
									<span>
										{{ event.event_score_type == 'all' ? translate_string('Total score') : ''}}

										{{ event.event_score_type == 'best' ? translate_string('Take best') : ''}}

										{{ event.event_score_type == 'compound' ? translate_string('Best {0} matches').replace('{0}', event.event_top_matches) : ''}}
									</span>
								</label>

								<label>
									<i class="fal fa-fw mr-1 fa-cubes" data-toggle="tooltip" data-placement="bottom" title="Best players"></i> {{translate_string('Best {0} players').replace('{0}', event.event_top_winners)}}
								</label>

								<label v-if="event.event_status == 'end' && event.event_bonus_amount > 0">
									<i class="fal fa-fw mr-1 fa-gem" data-toggle="tooltip" data-placement="bottom" title="Event bonus"></i> {{event.event_bonus_currency}} {{toFixed2(parseFloat(event.event_bonus_amount)).replace('.00', '')}}
								</label>

								<label v-if="event.event_status != 'end' && event.event_bonus_amount > 0">
									<i class="fal fa-fw mr-1 fa-gem" data-toggle="tooltip" data-placement="bottom" title="Won bonus"></i> {{event.event_bonus_currency}} {{toFixed2(parseFloat(event.event_bonus_amount)).replace('.00', '')}}
									{{ event.emember_bonus ? '(won ' + event.emember_bonus + ')': ''}}
								</label>

								<label v-if="event.emember_id">
									<i class="fal fa-fw mr-1 fa-trophy"  data-toggle="tooltip" data-placement="bottom" :title="'Your rank is #' + event.emember_rank + ', total ' + event.emember_count + ' players'"></i> {{event.emember_rank}} / {{event.emember_count}}
									<i class="fal fa-fw mr-1 fa-chart-line ml-5"  data-toggle="tooltip" data-placement="bottom" :title="'Your point is ' + event.emember_point"></i> {{event.emember_point}}
								</label>

								<button type="submit" class="w-50 mx-auto mt-auto btn btn-block btn-lg mr-3 memberlogin lang py-0 client-btn-success" data-placement="bottom" data-toggle="tooltip" title="Detail" @click="theEvents.open(event.event_id)"><i class="text-white">...</i></button>
							</div>
						</div>
					</div>
				</div>
				<h2 v-if="vueEventsActive.events.length > 0" class="text-white pb-4 font-size-5 font-weight-bold lang" id="active-events-title">Active events</h2>
				<div class="d-flex flex-wrap events" id="active-events">
					<div v-for="event in vueEventsActive.events" :key="event.event_id" :class="'col-4 mb-5 event event-' + event.event_game_code + ' event-' + event.event_status" :data-id="event.event_id">
						<div class="d-flex m-2 p-4 h-100 border-block">
							<div class="icon col-4"></div>
							<div class="info col-8 d-flex flex-column">
								<div class="name  text-truncate">{{event.event_name}}</div>

								<label>
									<i class="fal fa-fw mr-1 fa-gamepad-modern" data-toggle="tooltip" data-placement="bottom" title="Games"></i> {{event.game_name}}
									{{ event.event_game_mode.length > 0 ? '/ ' + event.event_game_mode : ''}}
								</label>

								<label>
									<i class="fal fa-fw mr-1 fa-clock" data-toggle="tooltip" data-placement="bottom" title="Event time"></i> {{moment(event.event_start_time_local).format('MM/DD HH:mm')}} - {{moment(event.event_end_time_local).format('MM/DD HH:mm')}}
								</label>

								<label>
									<i class="fal fa-fw mr-1 fa-circle-info" data-toggle="tooltip" data-placement="bottom" title="Score count way"></i>
									<span>
										{{ event.event_score_type == 'all' ? translate_string('Total score') : ''}}

										{{ event.event_score_type == 'best' ? translate_string('Take best') : ''}}

										{{ event.event_score_type == 'compound' ? translate_string('Best {0} matches').replace('{0}', event.event_top_matches) : ''}}
									</span>
								</label>

								<label>
									<i class="fal fa-fw mr-1 fa-cubes" data-toggle="tooltip" data-placement="bottom" title="Best players"></i> {{translate_string('Best {0} players').replace('{0}', event.event_top_winners)}}
								</label>

								<label v-if="event.event_status == 'end' && event.event_bonus_amount > 0">
									<i class="fal fa-fw mr-1 fa-gem" data-toggle="tooltip" data-placement="bottom" title="Event bonus"></i> {{event.event_bonus_currency}} {{toFixed2(parseFloat(event.event_bonus_amount)).replace('.00', '')}}
								</label>

								<label v-if="event.event_status != 'end' && event.event_bonus_amount > 0">
									<i class="fal fa-fw mr-1 fa-gem" data-toggle="tooltip" data-placement="bottom" title="Won bonus"></i> {{event.event_bonus_currency}} {{toFixed2(parseFloat(event.event_bonus_amount)).replace('.00', '')}}
									{{ event.emember_bonus ? '(won ' + event.emember_bonus + ')': ''}}
								</label>

								<label v-if="event.emember_id">
									<i class="fal fa-fw mr-1 fa-trophy"  data-toggle="tooltip" data-placement="bottom" :title="'Your rank is #' + event.emember_rank + ', total ' + event.emember_count + ' players'"></i> {{event.emember_rank}} / {{event.emember_count}}
									<i class="fal fa-fw mr-1 fa-chart-line ml-5"  data-toggle="tooltip" data-placement="bottom" :title="'Your point is ' + event.emember_point"></i> {{event.emember_point}}
								</label>
								<button type="submit" class="w-50 mx-auto mt-auto btn btn-block btn-lg mr-3 memberlogin lang py-0 client-btn-success" @click="theEvents.play(event.event_id);theEvents.open(event.event_id)" data-placement="bottom" data-toggle="tooltip" title="Join game"><i class="fal fa-plus text-white"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="event-detail-container event-detail mb-5 h-50 flex-grow-1 w-100" :class="[vueGlobal.pageType != 'EventDetail' ? 'd-none' : 'd-flex' ]">
			<div class="rounded-top d-flex flex-column p-4 w-100">
				<div class="d-flex">
					<div class="info align-top col-4">
						<div class="events event-detail-main" id='detail-events'>
							<div v-for="event in vueEventsDetail.events" :key="event.event_id" :class="'border-block border-0 event event-' + event.event_game_code + ' event-' + event.event_status" :data-id="event.event_id">
								<div class="d-flex p-4">
									<div class="icon col-4"></div>
									<div class="info col-8">
										<div class="p-2">
											<label class="name">{{event.event_name}}</label>

											<label>
												<i class="fal fa-fw mr-1 fa-gamepad-modern" data-toggle="tooltip" data-placement="bottom" title="Games"></i> {{event.game_name}}
												{{ event.event_game_mode.length > 0 ? '/ ' + event.event_game_mode : ''}}
											</label>

											<label>
												<i class="fal fa-fw mr-1 fa-clock" data-toggle="tooltip" data-placement="bottom" title="Event time"></i> {{moment(event.event_start_time_local).format('MM/DD HH:mm')}} - {{moment(event.event_end_time_local).format('MM/DD HH:mm')}}
											</label>

											<label>
												<i class="fal fa-fw mr-1 fa-circle-info" data-toggle="tooltip" data-placement="bottom" title="Score count way"></i>
												<span>
													{{ event.event_score_type == 'all' ? translate_string('Total score') : ''}}

													{{ event.event_score_type == 'best' ? translate_string('Take best') : ''}}

													{{ event.event_score_type == 'compound' ? translate_string('Best {0} matches').replace('{0}', event.event_top_matches) : ''}}
												</span>
											</label>

											<label>
												<i class="fal fa-fw mr-1 fa-cubes" data-toggle="tooltip" data-placement="bottom" title="Best players"></i> {{translate_string('Best {0} players').replace('{0}', event.event_top_winners)}}
											</label>

											<label v-if="event.event_status == 'end' && event.event_bonus_amount > 0">
												<i class="fal fa-fw mr-1 fa-gem" data-toggle="tooltip" data-placement="bottom" title="Event bonus"></i> {{event.event_bonus_currency}} {{toFixed2(parseFloat(event.event_bonus_amount)).replace('.00', '')}}
											</label>

											<label v-if="event.event_status != 'end' && event.event_bonus_amount > 0">
												<i class="fal fa-fw mr-1 fa-gem" data-toggle="tooltip" data-placement="bottom" title="Won bonus"></i> {{event.event_bonus_currency}} {{toFixed2(parseFloat(event.event_bonus_amount)).replace('.00', '')}}
												{{ event.emember_bonus ? '(won ' + event.emember_bonus + ')': ''}}
											</label>

											<label v-if="event.emember_id">
												<i class="fal fa-fw mr-1 fa-trophy"  data-toggle="tooltip" data-placement="bottom" :title="'Your rank is #' + event.emember_rank + ', total ' + event.emember_count + ' players'"></i> {{event.emember_rank}} / {{event.emember_count}}
												<i class="fal fa-fw mr-1 fa-chart-line ml-5"  data-toggle="tooltip" data-placement="bottom" :title="'Your point is ' + event.emember_point"></i> {{event.emember_point}}
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="align-top col-4 bd-highlight h-auto d-flex flex-column border-block">
						<div class="p-2 flex-grow-1" id="event_buttons" style="height: 100px;">
							<div class="text-left w-100 h-100 container" style="white-space: pre-wrap;">{{vueEventDetail.event.event_description}}</div>
						</div>
					</div>
					<div class="align-top col-4 h-auto d-flex justify-content-around flex-column mb-3">
						<div class="p-2 w-100 d-flex justify-content-around">
							<a v-if="vueEventButtons.event.event_status == 'past'" href="javascript:;">
								<i class="fal fa-trophy-star fa-3x lang text-danger" data-toggle="tooltip" data-placement="bottom" title="Event is end"></i>
							</a>
							<a v-else-if="vueEventButtons.event.event_game_code != 'all' || typeof(vueEventButtons.event.emember_member_account) != 'undefined'" class="c-pointer" @click="theEvents.play(vueEventButtons.event.event_id)" id="btn-event-play">
								<i class="fal fa-circle-play fa-3x lang text-success"  data-toggle="tooltip" data-placement="bottom" title="Play game"></i>
							</a>
						</div>

						<div v-if="vueEventButtons.event.event_status != 'past' && vueEventButtons.event.event_game_code == 'all' && typeof(vueEventButtons.event.emember_member_account) == 'undefined'" class="mt-auto p-2" style="width:35%">
							<button type="submit" class="btn btn-block btn-lg ml-3 lang py-0 client-btn-success" @click="theEvents.play(vueEventButtons.event.event_id)" data-placement="bottom" data-toggle="tooltip" title="Join game"  ><i class="fal fa-plus text-white fa-2x" ></i></button>
						</div>
					</div>
				</div>
				<hr size="20" class="border-white" style="width:88%; margin: 1.5% 6%" >
				<div class="container p-0 flex-shrink-1 h-100" style="background-color: rgba(48, 48, 48, 0.57);border: 1px solid #666; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
					<table class="table table-striped table-borderless text-center text-white " id="table-event-detail" style="table-layout: fixed;">
						<thead>
							<tr >

								<th class="lang border-top-0" style="border-right: 1px solid #666"><label class="lang">POS</label> </th>
								<th class="lang border-top-0"> <label class="lang">PLAYER</label> </th>

								<th v-if="vueEventDetail.event.event_is_global" class="lang border-top-0"> <label class="lang">CENTER NAME</label> </th>

								<th class="lang border-top-0"> <label class="lang">MATCHES</label> </th>

								<th v-if="['fortnite', 'lol', 'valorant', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0" class="lang border-top-0"> <label class="lang">WINS</label> </th>

								<th v-if="['fortnite', 'lol', 'valorant', 'dota2', 'csgo', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0" class="lang border-top-0"> <label class="lang">KILLS</label> </th>

								<th v-if="['lol', 'valorant', 'dota2', 'csgo', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0" class="lang border-top-0"> <label class="lang">ASSISTS</label> </th>

								<th v-if="['lol', 'dota2', 'csgo', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0" class="lang border-top-0"> <label class="lang">DEATHS</label> </th>

								<th v-if="['dota2'].indexOf(vueEventDetail.event.event_game_code) >= 0" class="lang border-top-0"> <label class="lang">LAST HITS</label> </th>

								<th class="lang border-top-0"> <label class="lang">POINT</label> </th>
								<th class="lang border-top-0"> <label class="lang">BONUS</label> </th>
								<th class="lang border-top-0"> <label class="lang">BONUS PAID</label> </th>

								<th v-if="vueEventDetail.event.event_is_global" class="lang border-top-0"> <label class="lang">STATUS</label> </th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="member in vueEventDetail.members" :key="member.emember_id">
								<td style="border-right: 1px solid #666"> {{member.emember_rank}} </td>
								<td> <label>{{member.emember_member_account}}</label> </td>

								<td v-if="vueEventDetail.event.event_is_global"> <img :src="'images/flags/' + toLowerCase(member.license_country) + '.png'"> <label>{{member.license_icafename}}</label> </td>

								<td> {{member.emember_point_matches}}/{{member.emember_matches}} </td>

								<td v-if="['fortnite', 'lol', 'valorant', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0"> {{member.emember_wins}} </td>

								<td v-if="['fortnite', 'lol', 'valorant', 'dota2', 'csgo', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0"> {{member.emember_kills}} </td>

								<td v-if="['lol', 'valorant', 'dota2', 'csgo', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0"> {{member.emember_assists}} </td>

								<td v-if="['lol', 'dota2', 'csgo', 'all'].indexOf(vueEventDetail.event.event_game_code) >= 0"> {{member.emember_deaths}} </td>

								<td v-if="['dota2'].indexOf(vueEventDetail.event.event_game_code) >= 0"> {{member.emember_lasthits}} </td>

								<td> {{member.emember_point}} </td>
								<td> {{ member.emember_bonus > 0 ? member.emember_bonus : '' }} </td>
								<td> {{ member.emember_bonus_pay_status ? translate_string('Paid') : '-' }} </td>

								<td v-if="vueEventDetail.event.event_is_global">
									<span v-if="typeof(member.emember_status) != 'undefined' && member.emember_status == 1">{{translate_string('joined')}}</span>
									<span v-else class="lang c-pointer" data-toggle="tooltip" data-placement="bottom" title="Not joined telegram group">{{translate_string('to be confirmed')}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="rank-container text-center flex-column mb-5 h-50 flex-grow-1" :class="[vueGlobal.pageType != 'Rank' ? 'd-none' : 'd-flex' ]">

			<div class="rank-game-logo mb-5">
				<img class="h-100 w-100 lang" id="rank-game-logo-img" src="./images/fortnite.png" title="Last week rank">
			</div>
			<div v-if="vueGlobal.pageType == 'Rank' && Object.keys(vueRank.items).length > 0" id="rank-carousel" class="container carousel slide flex-grow-1" data-ride="carousel" data-interval="5000">
				<ol v-if="Object.keys(vueRank.items).length > 1" class="carousel-indicators" style="position: fixed;bottom: 5rem">
					<li v-for="(item, gameCode, outIndex) in vueRank.items" data-target="#rank-carousel"  :data-slide-to="outIndex" :class="[gameCode == vueRank.active_game ? 'active' : '']"></li>
				</ol>

				<div class="carousel-inner h-100">
					<div v-for="(items, gameCode) in vueRank.items" class="carousel-item item h-100" :class="[gameCode == vueRank.active_game ? 'active' : '']" :data-game="gameCode" :data-bs-interval="5000">
						<table class="table table-bordered table-hover  table-rounded h-100" style="background-color: rgba(48, 48, 48, 0.5);">
							<thead>
								<tr class="text-white font-size-8">
									<th class="p-1" scope="col" width="4%"><i class="fal fa-chart-line " ></i></th>
									<th class="p-1" scope="col" width="15%">PLAYER</th>
									<th v-if="['fortnite', 'lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">WINS</th>
									<th v-if="['lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">LOSSES</th>
									<th v-if="['lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">KDR</th>
									<th class="p-1" scope="col" width="8%">KILLS</th>
									<th v-if="['lol', 'dota2', 'valorant', 'csgo'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">DEATHS</th>
									<th v-if="['lol', 'dota2', 'valorant', 'csgo'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">ASSIST</th>
									<th v-if="['lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="15%">WIN RATIO</th>
									<th v-if="['fortnite'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">TOP 5</th>
									<th v-if="['fortnite'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">TOP 10</th>
									<th v-if="['fortnite'].indexOf(gameCode) >= 0" class="p-1" scope="col" width="8%">TOP 25</th>
									<th class="p-1" scope="col" width="10%"><i class="fal fa-coins "></i></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="n in 10" class="text-white">
									<td scope="row">{{ n }}</td>
									<td>{{ items.length > n-1 && items[n-1].player_name != undefined ? items[n-1].player_name.toUpperCase() : '' }}</td>
									<td v-if="['fortnite', 'lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].wins != undefined ? items[n-1].wins : '' }}</td>
									<td v-if="['lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].losses ? items[n-1].losses : '' }}</td>
									<td v-if="['lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].kdr ? items[n-1].kdr : '' }}</td>
									<td>{{ items.length > n-1 && items[n-1].kills != undefined ? items[n-1].kills : '' }}</td>
									<td v-if="['lol', 'dota2', 'valorant', 'csgo'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].deaths ? items[n-1].deaths : '' }}</td>
									<td v-if="['lol', 'dota2', 'valorant', 'csgo'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].assist ? items[n-1].assist : '' }}</td>
									<td v-if="['lol', 'dota2', 'valorant'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].win_ratio ? toFixed2(items[n-1].win_ratio) : '' }}</td>
									<td v-if="['fortnite'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].top5s != undefined ? items[n-1].top5s : '' }}</td>
									<td v-if="['fortnite'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].top10s != undefined ? items[n-1].top10s : '' }}</td>
									<td v-if="['fortnite'].indexOf(gameCode) >= 0">{{ items.length > n-1 && items[n-1].top25s != undefined ? items[n-1].top25s : '' }}</td>
									<td>{{ items.length > n-1 && items[n-1].points ? items[n-1].points : '' }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

		<!-- st:bottom -->
		<section>
			<div class="dojo-block-v2 text-white d-flex flex-row justify-content-center align-items-center bottom-section" style="height: 65px">
				<a class="lang mr-2 mb-2" href="javascript:theEvents.refresh()" data-toggle="tooltip" data-placement="bottom" style="height: 60px">
					<i class="text-center fal fa-rotate-right fa-2x menu-icon dojo-hide-icon"><label class="text-center dojo-caption-icons">Обновить</label></i>
				</a>
				<a class="lang mr-2 ml-2 mb-2" href="javascript:customer_feedback()" data-toggle="tooltip" data-placement="bottom" style="height: 60px">
					<i class="text-center fal fa-comment fa-2x menu-icon dojo-hide-icon"><label class="text-center dojo-caption-icons">Оставить отзыв</label></i>
				</a>
				<a class="lang mr-2 ml-2 mb-2" href="javascript:send_assist()" data-toggle="tooltip" data-placement="bottom" style="height: 60px">
					<i class="text-center fal fa-question fa-2x menu-icon dojo-hide-icon"><label class="text-center dojo-caption-icons">Позвать Админа</label></i>
				</a>
				<a class="lang  ml-2 mb-2" href="" onclick="minimize_windows();" data-toggle="tooltip" data-placement="bottom" style="height: 60px">
					<i class="text-center fal fa-right-to-bracket fa-2x menu-icon dojo-hide-icon"><label class="text-center dojo-caption-icons">Рабочий стол</label></i>
				</a>
			</div>
		</section>
	</section>
	<!-- ed:main area -->


	<!-- ed:bottom -->

</div>

<!-- st:modal:order -->
<div class="modal myModalBuy" tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content dojo-modal p-0">
			<div class="modal-header justify-content-center">
				<h5 class="modal-title lang font-size-5 text-white">New Order</h5>
			</div>
			<div class="modal-body p-0 text-center">
				<form id="cart_form" onsubmit="return delay_execute(theShop.cart_done_promote);">
					<table id="cart" class="table cart mb-0 w-100 pr-3 pl-3" style="table-layout: fixed;">
						<tbody>
							<tr v-for="item in vueOrderItems.items" :key="item.product_id" :data-productid="item.product_id">
								<td class="text-left col-9" colspan="3">
									<label class="text-white">{{item.product_name}}</label>
								</td>
								<td class="text-right col-3">
									<label>{{theSettings.currency ?? '$'}} {{toFixed2(item.order_cost)}}</label>
								</td>
							</tr>
							<tr v-if="vueOrderItems.items.length <= 0" style="min-height:75px; height:75px;">
								<td colspan="4"></td>
							</tr>
						</tbody>
						<tfoot class="text-white">
							<tr>
								<td class="text-left" colspan="3"><label>{{translate_string("Sub-total:")}}</label></td>
								<td class="text-right"><label>{{toFixed2(vueOrderItems.total_cost)}}</label></td>
							</tr>
							<tr v-if="vueOrderItems.total_discount > 0">
								<td class="text-left" colspan="3"><label>{{translate_string("Discount")}}:</label></td>
								<td class="text-right"><label>{{toFixed2(vueOrderItems.total_discount)}}</label></td>
							</tr>
							<tr v-if="vueOrderItems.total_tax > 0">
								<td class="text-left" colspan="3"><label>{{translate_string("Tax:")}}</label></td>
								<td class="text-right"><label>{{toFixed2(vueOrderItems.total_tax)}}</label></td>
							</tr>
							<tr>
								<td class="text-left" colspan="3"><label>{{translate_string("Total amount:")}}</label></td>
								<td class="text-right"><label>{{toFixed2(vueOrderItems.total_amount)}}</label></td>
							</tr>
						</tfoot>
					</table>
					<div id="payment-table" class="row cart">
						<div class="col-12 d-flex justify-content-around">
							<div v-if="(typeof(theSettings.payment_method_balance) == 'undefined' || theSettings.payment_method_balance == 1) && theShop.enable_balance" class="custom-control custom-radio mr-0">
								<input type="radio" id="payment_method_balance" name="payment_method" :value="PAY_METHOD_BALANCE" v-model="vueOrderItems.payment_method" @change="theShop.cart_refresh()" class="custom-control-input">
								<label v-if="vueOrderItems.member_group_id == MEMBER_GROUP_POSTPAID" class="custom-control-label lang" for="payment_method_balance" data-toggle="tooltip" data-placement="bottom" title="Pay later"><i class="fal fa-clock fa-3x"></i></label>
								<label v-else class="custom-control-label lang" for="payment_method_balance" data-toggle="tooltip" data-placement="bottom" title="Balance"><i class="fal fa-wallet fa-3x"></i></label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn-group w-100 justify-content-end">

							<button type="submit" class="btn btn-lg client-btn-success lang mr-3 py-0 modal-success" data-placement="bottom" data-toggle="tooltip" title="Done" id="new-order-done" :disabled="vueOrderItems.items.length == 0"><i class="fal fa-check fa-2x text-white"></i></button>
							<button type="button" class="btn btn-lg client-btn-close lang py-0 modal-close" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-times fa-2x text-white" ></i></button>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- ed:modal:order -->

<!-- st:modal:rungame -->
<div class="modal myModalRunGame" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title lang">Epic Games</h5>
				<button type="button" class="close " data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-0 text-center">
				<input type="hidden" name="game_id">
				<div class="btn-group feedback-icon">
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Switch to" onclick="javascript:rungame_switch_to()" class="mr-5 lang "><i class="fal fa-arrow-right-arrow-left fa-4x " style="line-height: 1.25;"></i></a>
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Terminate" onclick="javascript:rungame_terminate()" class="lang "><i class="fa fa-circle-xmark fa-4x " style="line-height: 1.25;"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ed:modal:rungame -->

<!-- st:modal:feedback -->

<div class="modal myModalFeedback" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content dojo-modal container p-0">
			<div class="modal-header justify-content-center">
				<h5 class="modal-title lang text-center text-white">Customer feedback</h5>
			</div>
			<form id="feedbackForm" class="form-horizontal" onsubmit="return delay_execute(feedback_form_submit);">
				<div class="modal-body px-5 py-0">
					<div class="form-group" style="border-radius: ">
						<label for="subject" class="sr-only">Subject</label>
						<input type="text" class="form-control lang modal-input bg-transparent" name="subject" id="subject" autofocus="autofocus" placeholder="Тема (до 100 символов)" maxlength="50">
					</div>
					<div class="form-group mb-0">	
						<label for="message" class="sr-only">Message</label>					
						<textarea class="form-control lang modal-input bg-transparent" id="message" name="message" rows="6" placeholder="Сообщение (до 250 символов)" maxlength="250"></textarea>						
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group w-100 justify-content-end">						
						<button type="submit" class="btn btn-lg client-btn-success lang py-0 modal-success" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close lang py-0 modal-close" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:feedback -->

<!-- st:modal:lock_password -->
<div class="modal myModalLock" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title lang">Lock screen</h5>
				<button type="button" class="close " data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="lockForm" class="form-horizontal" onsubmit="return delay_execute(lock_form_submit);">
				<div class="modal-body form-group row d-flex align-items-center m-0" >
					<input type="password" class="form-control modal-input bg-transparent lang" name="password" id="lockform_password" autofocus="autofocus" placeholder="Set unlock password">
				</div>

				<div class="modal-footer">
					<div class="btn-group">
						<button type="submit" class="btn btn-lg mr-3 lang py-0 client-btn-success " data-placement="bottom" data-toggle="tooltip" title="Yes"  ><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg lang py-0 client-btn-close"  data-dismiss="modal" data-placement="bottom" data-toggle="tooltip" title="No"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:lock_password -->

<!-- st:modal:change_password -->
<div class="modal myModalChangePassword" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content dojo-modal dojo-modal p-0">
			<div class="modal-header justify-content-center">
				<h5 class="modal-title lang text-white">Change password</h5>
			</div>
			<form id="passwordForm" class="form-horizontal" onsubmit="return delay_execute(change_password_form_submit);">
				<div class="modal-body px-5 py-0">
					<input type="hidden" name="account" id="account">
					<div class="form-group">
						<input type="text" class="form-control modal-input bg-transparent lang" name="member_account" id="member_account" placeholder="Account" disabled>
					</div>
					<div class="form-group" for="old_password">
						<input type="password" class="form-control bg-transparent lang" name="old_password" id="old_password" placeholder="Текущий пароль">
					</div>
					<div class="form-group" for="new_password">
						<input type="password" class="form-control bg-transparent lang" name="new_password" id="new_password" placeholder="New password">
					</div>
					<div class="form-group mb-0">
						<input type="password" class="form-control bg-transparent lang" name="confirm_password"id="confirm_password" placeholder="Confirm password">
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group w-100 justify-content-end">
						<button type="submit" class="btn btn-lg client-btn-success lang py-0 modal-success" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close lang py-0 modal-close" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:change_password -->

<!-- st:modal:logout -->
<div class="modal myModalConfirmCheckout" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content dojo-modal p-0">
			<div class="modal-header justify-content-center">
				<h5 class="modal-title lang text-white">Confirm checkout</h5>
			</div>
			<form id="confirmCheckoutForm" onsubmit="return delay_execute(confirm_checkout_submit);">
				<div class="modal-body p-3">
					<p class="lang text-center text-white">
						Are you sure you want to checkout?
					</p>
				</div>
				<div class="modal-footer">
					<div class="btn-group w-100 justify-content-end">
						<button type="submit" class="btn btn-lg client-btn-success lang mr-3 py-0 modal-success" data-placement="bottom" data-toggle="tooltip" title="Yes"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close modal-close lang py-0" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip" title="No"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:logout -->

<!-- st:modal:message -->
<div class="modal myModalMessage" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title lang">Message</h5>
				<button type="button" class="close " data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-3" >
				<p class="lang text-center">Are you sure you want to checkout?</p>
			</div>
			<div class="modal-footer">
				<div class="btn-group w-100 justify-content-end">					
					<button type="button" class="btn btn-lg client-btn-success lang py-0 modal-success" data-placement="bottom" data-toggle="tooltip" title="OK"><i class="fal fa-check fa-2x text-white" ></i></button>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- ed:modal:message -->

<!-- st:modal:join_event -->
<div class="modal myModalJoinEvent" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title lang">Join event</h5>
				<button type="button" class="close " data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="joinEventForm" class="form-horizontal" onsubmit="return delay_execute(theEvents.join_post);">
				<div class="modal-body p-3 text-center">
					<p class="lang">
						Please read the terms of services before join the event.
					</p>						
					<div class="form-check form-check-inline mt-2 d-inline-block">
						<label for="checkbox--agree-terams" class="form-check-label">
							<input type="checkbox" class="form-check-input lang" id="agreeTerms" id="agreeTerms" required="">
							<label class="input-helper" for="checkbox-agree-terams"><a href="javascript:open_url(theEvents.rank_baseurl() + '/terms.php')">I agree to the terms of services.</a></label>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<input type="hidden" name="event_id">
						<button type="submit" class="btn btn-lg client-btn-success lang mr-3 py-0" data-placement="bottom" data-toggle="tooltip" title="I Agree"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close lang py-0" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip" title="Leave"><i class="fal fa-times fa-2x text-white" ></i></button>						
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:join_event -->

<!-- st:modal:convert-member -->
<div class="modal myModalConvertMember" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document" style="width:700px; max-width:700px;">
		<div class="modal-content dojo-modal p-0">
			<div class="modal-header justify-content-center">
				<h5 class="modal-title lang text-white">Convert to member</h5>
			</div>
			<form id="form-convert-member" class="form-horizontal" onsubmit="return delay_execute(theConvertToMember.submit);">
				<div class="modal-body px-5 py-0" style="padding: 20px 70px;">

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Account</label>
								<input type="text" class="form-control modal-input bg-transparent" name="account" >
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Birthday</label>
								<input type="date" class="form-control modal-input bg-transparent" name="birthday" >
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">New password</label>
								<input type="password" class="form-control bg-transparent" name="password">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Confirm password</label>
								<input type="password" class="form-control bg-transparent" name="confirm_password">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">First name</label>
								<input type="text" class="form-control modal-input bg-transparent" name="first_name" >
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Last name</label>
								<input type="text" class="form-control modal-input bg-transparent" name="last_name" >
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Phone</label>
								<input type="text" class="form-control modal-input bg-transparent" name="phone" >
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Email</label>
								<input type="email" class="form-control modal-input bg-transparent" name="email" >
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group w-100 justify-content-end">
						<button type="submit" class="btn btn-lg client-btn-success lang py-0 modal-success" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close lang py-0 modal-close" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:convert-member -->

<!-- st:modal:register-member -->
<div class="modal myModalRegisterMember" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document" style="width:700px; max-width:700px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title lang">Member</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="form-register-member" class="form-horizontal" onsubmit="return delay_execute(member_register);">
				<div class="modal-body" style="padding: 20px 70px;">

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Account</label>
								<input type="text" class="form-control modal-input bg-transparent" name="account" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Birthday</label>
								<input type="date" class="form-control modal-input bg-transparent" name="birthday" >
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">New password</label>
								<input type="password" class="form-control bg-transparent" name="password" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Confirm password</label>
								<input type="password" class="form-control bg-transparent" name="confirm_password" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">First name</label>
								<input type="text" class="form-control modal-input bg-transparent" name="first_name">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Last name</label>
								<input type="text" class="form-control modal-input bg-transparent" name="last_name">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Phone</label>
								<input type="tel" class="form-control modal-input bg-transparent" name="phone" >
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label class="control-label lang">Email</label>
								<input type="email" class="form-control modal-input bg-transparent" name="email" >
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<div class="btn-group">
						<button type="submit" class="btn btn-lg client-btn-success lang mr-3 py-0" data-placement="bottom" data-toggle="tooltip" title="Register"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close lang py-0" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip" title="No"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:register-member -->

<!-- st:modal:register-member -->
<div class="modal myModalTopup" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document" style="width:500px; max-width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title lang">Topup</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="form-topup" class="form-horizontal" onsubmit="return delay_execute(theShop.topup);">
				<div class="modal-body" style="padding: 20px 70px;">

					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label class="control-label lang">Member</label>
								<input type="text" class="form-control modal-input bg-transparent" id="member_account" name="member_account" required :value="memberInfo.member_name">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label class="control-label lang">Amount</label>
								<input type="number" class="form-control modal-input bg-transparent" id="topup_amount" name="topup_amount" required>
							</div>
						</div>
						<a id="payment_qr" target="_blank" class="col-12 d-flex justify-content-center">
						</a>
					</div>
				</div>

				<div class="modal-footer">
					<div class="btn-group" id="btn-group">
						<button type="submit" class="btn btn-lg client-btn-success lang mr-3 py-0" data-placement="bottom" data-toggle="tooltip" title="Submit"><i class="fal fa-check fa-2x text-white" ></i></button>
						<button type="button" class="btn btn-lg client-btn-close lang py-0" data-dismiss="modal" data-placement="bottom" data-toggle="tooltip" title="No"><i class="fal fa-times fa-2x text-white" ></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ed:modal:register-member -->

<!-- blocker -->
<div id="block-div"></div>

<div id="spinner" class="cover">
	<div class="text-center cover-font">
		<div class="spinner-border" style="width: 6rem;height: 6rem;" role="status">
			<i class="fal fa-spinner fa-spin fa-5x"></i>
		</div>
	</div>
</div>

<!-- video background -->
<video class="url-video video-box w-100 h-100 c-pointer" autoplay muted loop style="position: fixed; top: 0; left: 0; z-index: -1; display: none; background-color: black; object-fit: cover;">
	<source type="video/webm" id="url-video"> 
	</video>
	<div class="youtube-video video-box w-100 h-100 align-middle embed-responsive" style="display: none;">
		<iframe id="youtube-video" class="embed-responsive-item w-100 h-100" style="position: fixed; top: 0; left: 0; z-index: -1; background-color: black; object-fit: cover;" allow="autoplay"></iframe>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/petite-vue.iife.js"></script>
	<script src="js/qrcode.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/toastr/toastr.js"></script>
	<script src="js/sweetalert/sweetalert.js"></script>
	<script src="js/templates/tmpl.js"></script>
	<script src="js/contextmenu/jquery.contextMenu.js"></script>
	<script src="js/moment.js"></script>
	<script src="js/icafe.js"></script>
	<script src="js/md5.js"></script>
	<script src="js/accounting.js"></script>
	<script src="js/language.js"></script>
	<script src="js/main.js"></script>
	<script src="js/dojo/custom.js"></script>
</body>
</html>