<div class="flex-column h-50 flex-grow-1 col-3">
		<div class="p-4 dojo-block dojo-radius h-100">
			<div class="container d-flex flex-column">
				<div class="row text-white">
					<div class="col-md-3 p-2">
						<img src="images/default-avatar.png" class="cafe_info_member_logo p-0 border-0 rounded-circle" style="aspect-ratio: 1/1;" onerror="this.src='images/default-avatar.png';">
					</div>
					<div class="col-md-9 p-2 normal-only ">
						<div class="text-truncate font-size-5">
							<label class="name text-uppercase font-size-5" id="member_info_name">TEST / TESTGROUP</label>
						</div>
						<div class="member_balance_realtime normal-only font-size-4 pt-2 align-items-center d-flex">
							<i class="fal fa-wallet fa-fw mr-1 lang" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Баланс"></i>
							<label class="value mw-100">
								888
							</label>
						</div>
						<div class="member_balance_bonus_realtime normal-only font-size-4 pt-2 align-items-center d-flex">
							<i class="fal fa-fw fa-award fa-fw mr-1 lang" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Бонус"></i>
							<label class="value mw-100">
								777
							</label>
						</div>
						<div class="member_coin_balance normal-only font-size-4 pt-2 align-items-center d-flex">
							<i class="fal fa-gamepad fa-fw mr-1 lang" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Монеты"></i>
							<label class="value mw-100">
								666
							</label>
						</div>
						<!--v-if-->
					</div>
				</div>

				<div id="offers_div" class="row text-white text-center justify-content-md-center " style="margin-top:auto;">

					<div class="pl-0 pr-0 member-group col-md-3 group-left group-right">
						1
					</div>
					<div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
						201/36000000
					</div>


					<div id="carousel_main" class="carousel slide row normal-only w-100 h-100" data-ride="carousel" data-interval="false">
						<div class="carousel-inner h-100">
							<div class="carousel-item item active" id="available-3">
								<div class="col-md-8 pl-0 pr-0 progress" style="position:relative; margin: 0 auto;padding-top:1px;height: 1.7rem; background-color: #395A2A;border:1px solid #ffffff;border-radius: 5px;">
									<div class="progress-bar progress-bar-animated" role="progressbar" style="width:0%; background-color:#43AE1D;" aria-valuemin="0" aria-valuemax="100"></div>
									<span class="remaining" style="position:absolute; left:37%;height: 1.6rem;line-height: 1.6rem;">02:34:56</span>
								</div>
								<div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
									Всего
								</div>
							</div><div class="carousel-item item" id="available-1">
								<div class="col-md-8 pl-0 pr-0 progress" style="position:relative; margin: 0 auto;padding-top:1px;height: 1.7rem; background-color: #395A2A;border:1px solid #ffffff;border-radius: 5px;">
									<div class="progress-bar progress-bar-animated" role="progressbar" style="width:0%; background-color:#43AE1D;" aria-valuemin="0" aria-valuemax="100"></div>
									<span class="remaining" style="position:absolute; left:37%;height: 1.6rem;line-height: 1.6rem;">02:34:56</span>
								</div>
								<div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
									TESTOFFER
								</div>
							</div><div class="carousel-item item" id="available-2">
								<div class="col-md-8 pl-0 pr-0 progress" style="position:relative; margin: 0 auto;padding-top:1px;height: 1.7rem; background-color: #395A2A;border:1px solid #ffffff;border-radius: 5px;">
									<div class="progress-bar progress-bar-animated" role="progressbar" style="width:0%; background-color:#43AE1D;" aria-valuemin="0" aria-valuemax="100"></div>
									<span class="remaining" style="position:absolute; left:37%;height: 1.6rem;line-height: 1.6rem;">02:34:56</span>
								</div>
								<div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
									Баланс
								</div>
							</div>
						</div>

						<div>
							<button class="carousel-control-prev c-pointer border-0" type="button" data-target="#carousel_main" data-slide="prev" style="top:4%; bottom:auto;background: none;">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</button>
							<button class="carousel-control-next c-pointer border-0" type="button" data-target="#carousel_main" data-slide="next" style="top:4%; bottom:auto;background: none;">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</button>
						</div>
					</div>

				</div>
			</div>
			<div class="container d-flex flex-column">
				<div class="text-center  font-size-5" >Магазин</div>
					<hr class="mt-0 mb-3 bg-white w-50">
					<div class="h-100">
						<div v-if="vueHome.promotedItems.length > 0" id="home_carousel_promoted" class="carousel carousel-spotlight slide h-100 flex-shrink-1 mb-0" data-ride="carousel" data-interval="false">
							<div  class="carousel-inner h-100 p-0">

								<div v-for="(items, outIndex) in vueHome.promotedItems" class="carousel-item item flex-wrap justify-content-around align-content-around" :class="[outIndex == vueHome.promotedActive ? 'active' : '']" >
									<div v-for="(goods, inIndex) in items" class="h-50 w-40 p-3">
										<div class="dojo-preview-shop shop-image dojo-overlay-before position-relative promoted-product c-pointer w-100 h-100" :style="{'background-image': 'url(' + goods.image + ')'}" 
										>
										<div class="overlay" style="background:rgba(17, 17, 17, 0.75);">
											<div class="btn-group d-flex flex-column justify-content-center w-100 h-100 text-center">
												<div class="w-100">
													<p class="text-white">
														<label class="">{{goods.product_name}}</label>
														<label class="font-weight-bold w-100 d-inline-block" v-if="vueProductGroupList.current_group_id == -2" >{{toFixed2(goods.product_coin_price)}} {{translate_string('coin')}}</label>
														<label class="font-weight-bold w-100 d-inline-block" v-else>{{theSettings.currency ?? '$'}} {{toFixed2(goods.product_price)}}</label>
													</p>
												</div>
												<button class="py-0 mx-3 btn btn-sm lang" @click="theShop.buy(goods.product_id, 1)">
													<i class="fal fa-cart-plus fa-2x"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-group d-flex justify-content-center align-items-center">
					<a class="btn lang dojo-more lang" href="javascript:theShop.show()" data-toggle="tooltip" data-placement="bottom">
						<i class="fal fa-arrow-right fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>